@use "./../../styles/variables.scss" as *;
@use "./../../styles/placeholder.scss" as *;
@use "./../../styles/mixins.scss" as *;

.btnContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em 0;
    gap: 3.125em;

    @include small-screen {
        max-width: 400px;
        gap: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    &__btn {
        @include button {
            @include small-screen {
                min-width: 135px;
            }

            &_selected {
                background-color: $btn-background;
            }
        }
    }
}