@use "./../../styles/variables.scss" as *;
@use "./../../styles/placeholder.scss" as *;
@use "./../../styles/mixins.scss" as *;

$btn-border-radius: 50px;

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    gap: 50px;

    &__btn {
        @include button {
            &_selected {
                background-color: $btn-background;
            }
        }
    }
}