@use "./variables.scss" as *;

* {
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: $main-background-color;
    color: $main-text-color;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2 {
    font-size: 2em;
}