@use "./variables.scss" as *;
@use "./mixins.scss" as *;

* {
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: $main-background-color;
    color: $main-text-color;

    @include wide-screen {
        font-size: 0.93vw; // 18px in vw
    }
}

form {
    input, 
    textarea {
        font-family: "Poppins", sans-serif;
    }
}

section {
    padding: 5rem 2rem;
}

h1, h2, h3 {
    color: $title-text-color;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
}