@use "./variables.scss" as *;
@use "./placeholder.scss" as *;

$btn-border-radius: 3.125em;

@mixin small-screen() {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin wide-screen () {
    @media (min-width: 2200px) {
        @content;
    }
}

@mixin button () {
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: $btn-border-radius;
    background-color: $main-background-color;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 1em;
    padding: 1em 2em;
    border: solid 0.063em $btn-border;
    z-index: 1;
    @content;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        @extend %pseudo-elements-absolute;
        opacity: 0;
        border-radius: $btn-border-radius;
        background-color: $btn-background;
        z-index: -1;
        transition: opacity 200ms ease;
        will-change: opacity;
    }
}