$main-background-color: #212529;
$secondary-background-color: #343a40;
$header-background-color: #171a1d;
$title-text-color: #fff;
$main-text-color: rgba(255, 255, 255, 0.7);
$btn-border: #a3a3a3;
$btn-background: #39a159; // temporary