@use "./../../styles/mixins.scss" as *;

.mainContainers {
    margin: 4em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 56.25em;
    gap: 4em;

    @include small-screen {
        gap: max(7.1vw, 2em);
        max-width: none;
    }
}

.iconContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    will-change: transform;

    @include small-screen {
        min-width: 6em;
    }

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }

    &__img {
        width: 6em;
        height: 6em;

        @include small-screen {
            width: max(10.6vw, 3em);
            height: max(10.6vw, 3em);
        }
    }
}