@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

$max-width: 68.75em;

.main {
    h2 {
        text-align: center;
    }
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 2.5em;
        font-weight: 800;
    }

    &__btn {
        max-width: max-content;
        margin-top: 20vh;
        @include button
    }

    // box shadow at the bottom
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, transparent 60%, $secondary-background-color 120%);
    }
}

// about section
.about {
    background-color: $secondary-background-color;

    &__title {
        @extend %home-title;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: $max-width;
        margin: 5em auto;
    }

    &__cvBtn {
        @include button;
        margin-top: 3em;
        display: inline-block;
        transform: translateX(50%);
    }
}

.aboutUl {
    list-style-type: none;
    padding: 0;
    color: $title-text-color;

    &__list {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: solid 1px rgba($main-text-color, 0.3);
    }

    &__label {
        font-weight: 600;
        margin-right: 0.5rem;
    }

    &__email {
        color: $third-color;
        transition: ease 200ms opacity;

        &:hover {
            opacity: 0.7;
        }
    }
}

.aboutDescriptionContainer {
    &__title {
        font-size: 1.5em;

        span {
            color: $third-color;
        }
    }

    &__textContainer {
        padding-right: 2em;

        p {
            margin-top: 1em;
        }
    }
}

// skills section
.skill {
    &__title {
        @extend %home-title;
    }
}

// project section
.project {
    background-color: $secondary-background-color;

    &__title {
        @extend %home-title;
    }
}

// contact section
.contact {
    &__title {
        margin-bottom: 2rem;
        @extend %home-title;
    }
}