.main {
    text-align: center;
}

.presentation {
    margin: 4em 0;
}

.about {
    &__content {
        max-width: 1000px;
        margin: 2em auto;
    }
}

.skill {
    margin: 4em 0;

    &__list {
        margin: 2em auto;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        font-size: 1.125em;
        text-align: left;
    }
}