@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.main {
    text-align: center;
}

.hero {
    height: 50vh;

    &__title {
        font-size: 2.5em;
        font-weight: 800;
    }

    &__btn {
        max-width: max-content;
        margin: auto;
        @include button
    }
}

.about {
    background-color: $secondary-background-color;

    &__content {
        max-width: 1000px;
        margin: 2em auto;
    }
}

.skill {
    &__list {
        margin: 2em auto;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        font-size: 1.125em;
        text-align: left;
    }
}

.project {
    background-color: $secondary-background-color;
}

.contact {
    &__title {
        margin-bottom: 1em;
    }
}