@use "./../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

@keyframes modalApparition {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal {
    height: 100%;
    width: 100%;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: (#000000), $alpha: 0.5);
    
    &__wrapper {
        position: relative;
        background-color: $secondary-background-color;
        margin: 10% auto;
        padding: 1em 2em;
        width: 80%;
        max-width: 58vw;
        animation: forwards modalApparition 400ms;

        @include small-screen {
            padding: 1em;
        }
    }

    &__close {
        margin-bottom: 0.75em;
        width: 1.875em;
        height: 1.875em;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }
}