@use "./../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

@keyframes modalApparition {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modalAside {
    height: 100%;
    width: 100%;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: (#000000), $alpha: 0.5);
    display: flex;
    align-items: center;
    
    &__wrapper {
        position: relative;
        background-color: $secondary-background-color;
        margin: auto;
        padding: 1em 2em;
        width: 80%;
        max-width: 62.5em;
        animation: forwards modalApparition 400ms;
        max-height: 85%;
        overflow: auto;

        @include small-screen {
            padding: 1em;
        }
    }

    &__close {
        position: absolute;
        right: 1em;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }
}

.imgAndContentWrapper {
    display: flex;
    margin-top: 1rem;
    overflow: hidden;

    @include small-screen {
        flex-direction: column;
    }
    
    &__img {
        max-width: 60%;
        height: 25em;
        object-fit: cover;
        margin-bottom: 1em;
        
        @include small-screen {
            height: max(44.5vw, 18.75em);
            max-width: 100%;
        }
    }
}

.contentWrapper {
    padding-left: 0.75rem;
    
    &__title {
        margin-bottom: 0.5rem;
    }
    
    &__description {
        font-size: 1em;
        margin-bottom: 0.5rem;
    }
}

.detailsList {
    list-style-type: none;
    padding: 0;
    
    &__items {
        display: flex;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: solid 1px rgba($color: $main-text-color, $alpha: 0.3);
    }

    &__githubLink {
        padding-left: 0.5rem;
        color: $third-color;
        transition: opacity 200ms ease-in;
        
        &:hover {
            opacity: 0.7;
        }
    }
}