@use "../../styles/variables.scss" as *;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: $main-background-color;
}

.linkContainer {
    display: flex;
    gap: 1em;

    &__img {
        width: 30px;
        height: 30px;
    }
}